/*Títulos*/
h1
{
	background-color: rgb(0,115,152);
	box-shadow: 0px 0px 20px black;
	color: white;
	font-size: 30pt;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}
h2
{
	background-color: rgb(0,60,115);
	box-shadow: 0px 0px 30px black;
	color: white;
	margin-bottom: -10px;
	margin-right: 500px;
	padding: 10px;
	text-align: left;
	text-transform: uppercase;
}

/*Parágrafos*/
p
{
	background-color: rgb(0,120,170);
	box-shadow: 0px 0px 20px black;
	color: white;
	line-height: 1.5;
	margin-right: 500px;
	padding: 10px;
	text-align: justify;
}

/*Imagens*/
#empresa
{
	border-radius: 10px;
	box-shadow: 0px 0px 40px rgb(255,181,0);
	margin-right: 100px;
}